@font-face {
    font-family: 'Boucherie Flared';
    src: url('BoucherieFlared.woff2') format('woff2'),
        url('BoucherieFlared.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

